<div class="container animate__animated animate__backInDown">
  <div class="row">
    <div class="col-12 pt-2">
      <h2>Categorias de la aplicación</h2>
      <div class="row">
        <div class="col-12 col-xs-6">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" routerLink="crear-categoria" >Crear Categorias</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="getCategories()">Ver Categorias</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <form autocomplete="off"
                (ngSubmit)="buscar()">
            <input type="text"
                name="termino"
                class="form-control"
                [(ngModel)]="termino"
                placeholder="Buscar categoria">
          </form>
        </div>
      </div>
      <hr>
      <div class="table-responsive" *ngIf="categories.length > 0">
        <table class="table table-Light table-striped table-hover mt-3 text-center animate__animated animate__backInDown rounded">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Categoria</th>
              <th scope="col">Editar</th>
            </tr>
          </thead>
          <tbody class=" animate__animated animate__backInDown rounded" >
            <tr *ngFor="let item of categories; let i = index">
              <th scope="row">{{i + 1}}</th>
              <th scope="row">{{item.nombre }}</th>
              <td><a class="nav-link bg-primary rounded p-1" [routerLink]="['editar-categoria/', item._id]"><i class="fa-regular fa-pen-to-square"></i> Editar </a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
