<div class="container animate__animated animate__backInDown rounded">
  <div class="row">
    <div class="col-12 pt-2">
      <h2>Productos</h2>
      <div class="row">
        <div class="col-12 col-xs-6">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link"routerLink="crear-producto">Crear Productos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="getProductos()">Ver Productos</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <form autocomplete="off"
                (ngSubmit)="buscar()">
            <input type="text"
                  name="termino"
                  class="form-control"
                  [(ngModel)]="termino"
                  placeholder="Buscar Usuario">
          </form>
          <hr>
          <div class="table-responsive animate__animated animate__backInDown " *ngIf="products.length > 0">
            <table class="table table-Light table-striped table-hover mt-3 text-center">
              <thead class="animate__animated animate__backInDown">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Precio</th>
                  <!-- <th scope="col">Categoria</th> -->
                  <th scope="col">Editar</th>
                </tr>
              </thead>
              <tbody class="animate__animated animate__backInDown rounded">
                <tr *ngFor="let item of products; let i = index">
                  <th scope="row">{{ i + 1 }}</th>
                  <th>{{item.nombre}}</th>
                  <td>{{item.precio}}</td>
                  <!-- <td>{{item.categoria.nombre}}</td> -->
                  <td><a class="nav-link bg-primary rounded p-1" [routerLink]="['editar-producto/', item._id]"><i class="fa-regular fa-pen-to-square"></i>Editar</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
